* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

.left {
	float: left;
}

.right {
	float: right;
}

a {
	text-decoration: none;
	color: #6f6f6f;
}

.banxin {
	width: 1200px;
	margin: 0 auto;
}

img {
	vertical-align: middle;
}

h4 {
	font-weight: normal;
}


/*header头部*/
.head{
	box-shadow:0 0 5px rgba(0,0,0,.8) ;
	position: fixed;
	width: 100%;
	background: #fff;
	z-index: 99;
	top: 0;
}
header {
	overflow: hidden;
}

header .join {
	display: flex;
	margin: 15px 0;
	position: relative;
}

header .join>input {
	width: 230px;
	line-height: 30px;
	border-radius: 15px;
	font-size: 14px;
	color: #a9a9a9;
	margin-right: 36px;
	border: 1px solid;
	padding-left: 20px;
	outline: none;
}
header .join>a{
    position: absolute;
    left: 193px;
    top: 5px;
}

header .join>span {
	font-size: 18px;
	color: #6d6d6d;
	padding-top: 2px;
}

.crl {
	padding: 0 10px;
}

header .nav {
	margin-top: 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 18px;
}

header .nav>li {
	width: 130px;
	text-align: center;
}

header .nav>li>a {
	display: block;
	width: 80px;
	padding-bottom: 10px;
	margin: 0 auto;
}

header .nav>li:first-child>a {
	width: 40px;
}

header .nav>li:hover a {
	border-bottom: 2px solid #850913;
}


/*背景图片*/
.bgpic>img{
	width: 100%;
	margin-top: 116px;
}
/*首页导航*/
ul.lnav{
	display:flex ;
	width: 220px;
   margin: 40px 0 12px 75%;
}
ul.lnav span{
	margin: 0 10px;
}
ul.lnav>li:hover a{
	color: #b08080;
}
ul.lnav>li:last-child a{
	display: none;
}
ul.lnav>li:last-child .active{
	display: block;
}
/*拍摄基地左部分*/
.cont{
	height: 700px;
}
.cont>.banxin{
	position: relative;
}
.cont>hr{
	margin-bottom: 30px;
}
.contL{
	width:148px ;
	height: 350px;
	padding-left: 10px;
}
.contL>h2{
	text-align: center;
	margin-bottom: 10px;
    margin-left: -10px;
    padding-bottom: 3px;
	border-bottom: 1px solid #666;
}
.contL .lline{
	border-left: 1px solid #666;
	padding-left: 10px;
    margin-left: -9px;
}
.contL .lline>div{
	margin-bottom: 10px;
	position: relative;
}
.contL .lline>div h4{
	font-size: 18px;
	display: flex;
	width: 120px;
	justify-content: space-between;
}
.contL .lline>div h4 .add{
    position: absolute;
    width: 118px;
    text-align: right;
}
.contL .lline>div h4:hover{
	color:#a15c5f;
}
.contL .lline>div span{
	cursor: pointer;
}
.contL .line1{
    position: absolute;
    width: 1px;
    height: 38px;
    left: 0px;
    top: 1px;
    background: #666;
}
.contL .line2{
	position: absolute;
	width: 1px;
    top: 54px;
    left: 1px;
    height: 24px;
    background: #666;

}
.contL .line3{
    position: absolute;
    width: 1px;
    height: 19px;
    top: 19px;
    left: 148px;
    background: #666;
}
.contL .line4{
	position: absolute;
    left: -3px;
}
.contR{
	position: relative;
}
.contR .cr11{
	display: none;
}
.contR .cr11 hr{
	position: relative;
	top: 11px;
}
.contR .cr1{
	display: block;
}
.contR .cr1,.contR .cr11{
	width: 1000px;
	height: 365px;
	margin-top: 35px;
	background:#a20a09 ;
}
.contR .cr1>div,.contR .cr11>div{
	width:630px ;
	height: 300px;
	color: #fff;
	font-size: 14px;
    position: absolute;
    margin: 15px 0 0 15px;
	text-align: justify;
}
.contR .cr1 img,.contR .cr11 img{
	width:315px ;
	float: right;
	position: relative;
    top: -21px;
    right: 22px;
}
.contR .cr1>div>h4>span:first-child,.contR .cr11>div>h4>span:first-child{
	font-size: 18px;
}
.contR .cr1>div>h4>span:last-child,.contR .cr11>div>h4>span:last-child{
	font-size: 14px;
	padding-left:5px;
}
.contR .cr1>div>div{
	margin: 10px 0;
}
.contR .cr1>div>div>span,.contR .cr11>div>div>span{
	position: absolute;
    top: 24.5px;
    left: -9px;
}
.contR .cr1>div>p,.contR .cr11>div>p{
	margin-top: 25px;
	line-height: 20px;
	text-indent: 2em;
}
.contR .cr2{
	display: flex;
	margin: 30px 0 10px 0;
	position: relative;
}
.contR .cr2>h4{
	font-size: 18px;
	padding-right: 15px;
}
.contR .cr2>span{
	font-size: 14px;
	margin-top: 5px;
}
.contR .cr2>span:nth-of-type(2){
	padding: 0 8px;
}
.contR .cr2>div{
	position: absolute;
	top:23px;
}
.contR>hr{
	width: 98%;
	margin: 0 0 20px 5px;
}




















.contR ul li{
	float: left;
	margin: 0 20px;
	text-align: center;
	position: relative;
}
.contR ul li>a>.mc{
	width: 209px;
	line-height: 50px;
	position: absolute;
	top:188px;
	color: #fff;
	transition: all 2s;
	opacity: 0;
	cursor: pointer;
	background: rgba(165,99,100,.5);
}
.contR ul li:hover .mc{
	opacity: 1;
}















/*底部*/
footer{
	margin-top: 50px;
	text-align: center;
	color: #fff;
	line-height: 90px;
	width: 100%;
	background:#666 ;
}
