* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

.left {
	float: left;
}

.right {
	float: right;
}

a {
	text-decoration: none;
	color: #6f6f6f;
}

.banxin {
	width: 1200px;
	margin: 0 auto;
}

img {
	vertical-align: middle;
}

h4 {
	font-weight: normal;
}


/*header头部*/
.head{
	box-shadow:0 0 5px rgba(0,0,0,.8) ;
	position: fixed;
	width: 100%;
	background: #fff;
	z-index: 99;
	top: 0;
}
header {
	overflow: hidden;
}

header .join {
	display: flex;
	margin: 15px 0;
	position: relative;
}

header .join>input {
	width: 230px;
	line-height: 30px;
	border-radius: 15px;
	font-size: 14px;
	color: #a9a9a9;
	margin-right: 36px;
	border: 1px solid;
	padding-left: 20px;
	outline: none;
}
header .join>a{
    position: absolute;
    left: 193px;
    top: 5px;
}

header .join>span {
	font-size: 18px;
	color: #6d6d6d;
	padding-top: 2px;
}

.crl {
	padding: 0 10px;
}

header .nav {
	margin-top: 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 18px;
}

header .nav>li {
	width: 130px;
	text-align: center;
}

header .nav>li>a {
	display: block;
	width: 80px;
	padding-bottom: 10px;
	margin: 0 auto;
}

header .nav>li:first-child>a {
	width: 40px;
}

header .nav>li:hover a {
	border-bottom: 2px solid #850913;
}

/*背景图片*/
.bgpic>img{
	width: 100%;
	min-width:1200px;
	margin-top: 116px;
}
/*首页导航*/
ul.lnav{
	width: 360px;
	display:flex ;
   margin: 40px 0 12px 65%;
}
ul.lnav span{
	margin: 0 10px;
}
ul.lnav>li:hover a{
	color: #b08080;
}
ul.lnav .ids,ul.lnav .ids1{
	position:relative;
}
ul.lnav .ids a,ul.lnav .ids1 a{
	display: none;
}
ul.lnav .ids .active,ul.lnav .ids1 .active{
	display: block;
}
/*拍摄基地左部分*/
.cont{
	height: 450px;
}
.cont>.banxin{
	position: relative;
}
.cont>hr{
	margin-bottom: 30px;
}
.contL{
	width:148px ;
	height: 350px;
	padding-left: 10px;
}
.contL>h2{
	text-align: center;
	margin-bottom: 10px;
    margin-left: -10px;
    padding-bottom: 3px;
	border-bottom: 1px solid #666;
}
.contL .lline{
	border-left: 1px solid #666;
	padding-left: 10px;
    margin-left: -9px;
}
.contL .lline ul{
	font-size: 14px;
}
.contL .lline ul hr{
	display: none;
	width:80px ;
}
.contL .lline>div{
	margin-bottom: 10px;
}
.contL .lline>div h4{
	font-size: 18px;
	display: flex;
	position: relative;
}
.contL .lline>div h4 .add{
	position: absolute;
	width: 120px;
	text-align: right;
}
.contL .lline>div h4.point span:nth-child(2){
	width:5px;
	height:5px;
	background: #666;
	border-radius: 50%;
    margin: 10px 5px 0 5px;
}
.contL .lline>div h4:hover{
	color:#a15c5f;
}
.contL .lline>div ul li:hover{
	color:#a15c5f;
}
.contL .lline>div ul li:hover hr{
	display: block;
}
.contL .lline>div ul li{
	margin-top: 10px;
	cursor: pointer;
}
.contL .lline>div>ul{
	display: none;
}
.contL .lline>div span{
	cursor: pointer;
}
.contL .line1{
    position: absolute;
    width: 1px;
    height: 38px;
    left: 0px;
    top: 1px;
    background: #666;
}
.contL .line2{
	position: absolute;
	width: 1px;
    top: 54px;
    left: 1px;
    height: 24px;
    background: #666;

}
.contL .line3{
    position: absolute;
    width: 1px;
    height: 19px;
    top: 19px;
    left: 148px;
    background: #666;
}
.contL .line4{
	position: absolute;
    left: -3px;
    transition: all 1s;
}
.contR{
	width:800px ;
	height: 360px;
	position: absolute;
	right: 0;
	margin: 60px 0;
	text-align: right;
	padding-right: 110px;
	border: 1px solid #666;
	display: none;
}
fieldset.active{
	display: block;
}
.contR fieldset {
	width: 170px;
	height: 50px;
	text-align: center;
   	border: 1px solid #666;
}

.contR .pd {
	padding: 0 10px;
	font-size: 18px;
	font-weight: 600;
}
.contR fieldset .siz{
	font-size: 12px;
	line-height: 28px;
}
.contR fieldset .jj {
	padding-right: 5px;
}
.contR>legend:nth-child(2){
    width: 240px;
    height: 345px;
    background: #666;
    position: absolute;
    top: -4px;
    left: -70px;
}
.contR>legend:nth-child(2)>img {
    width: 240px;
    height: 340px;
    position: absolute;
    top: -20px;
    left: -35px;
    z-index: 1;
}
.contR>legend:nth-child(3){
	position: absolute;
	width: 600px;
	height: 260px;
	font-size: 14px;
	text-align: justify;
    right: 14px;
    top: 70px;
}
.contR>legend:nth-child(3)>p{
	text-indent: 2em;
	line-height: 20px;
	margin-bottom: 10px;
}


/*底部轮播图*/
.pcsp{
	    overflow: hidden;
}
.pcsp .banxin{
	text-align: right;
    margin-top: 30px;
    position: relative;
}
.pcsp button{
	position: absolute;
	top:84px;
	margin-top: -50px;
	border-radius: 50%;
	background: transparent;
	font-size: 30px;
	border: 0;
	width: 50px;
	height: 100px;
	color: #666;
	cursor: pointer;
}
.pcsp button.lt{
	left:240px;
}
.pcsp button.rt{
	right:-70px;
}
.pcsp img{	
	transition: all 1s;
	
}
.pcsp img:hover{
	transform: scale(1.2);
}
.pcsp img:hover~.mc{
	opacity: 1;
	transform: scale(1.2);	
}
.pcsp ul{
	float:right;
}
.pcsp ul li{
	float: left;
	margin: 0 20px;
	position: relative;
}
.pcsp ul li a .mc{
	width: 258px;
	height: 30px;
	color:#fff;
	position: absolute;
	top: 150px;
    text-align: center;
    background: rgba(141,75,76,.5);
    line-height: 30px;
    opacity: 0;
    transition: all 2s;
}

/*底部*/
footer{
	margin-top: 50px;
	text-align: center;
	color: #fff;
	line-height: 90px;
	width: 100%;
	background:#666 ;
}
