/*联系我们*/
header>img{
	height: 80px;
	width:144px ;
	float: left;
	margin-left:60px ;
}
header>ul{
	float: right;
	margin-right: 60px;
}
header>ul>li{
	float: left;
}
header>ul>li>a{
	display: block;
	font-size: 20px;
	width:120px ;
	height: 80px;
	line-height: 80px;
	text-align: center;
	border-bottom: 3px solid transparent;
}
header>ul>li>a:hover{
	border-bottom: 3px solid #866961;
	color: #866961;
}
.bgpic{
	background: url(images/pic-16.png);
    background-position: center;
	width: 100%;
    height: 400px;
    clear: both;
}
.bgpic>div{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	position: relative;
	top: 0;
	left: 0;
}
.bgpic .pp{
    position:absolute;
    left: 50%;
    margin-left: -200px;
    top: 40%;
}
.bgpic .pp span:nth-child(1){
	color: #fff;
	font-size: 46px;
}
.bgpic .pp span:nth-child(2){
	color: #fff;
	font-size: 30px;
}
.bgpic .pp hr{
	color: #fff;
	width:284px;
	position: relative;
	top: -24px;
	left: 136px;
}
.bgpic .pp1{
    position:absolute;
    left: 50%;
    margin-left: -200px;
    top:211px;
}
.bgpic .pp1 span:nth-of-type(1){
	color: #fff;
	font-size: 30px;
}
.bgpic .pp1 span:nth-of-type(2){
	color: #fff;
	font-size: 24px;
	padding-left: 5px;
}
.bgpic .pp1 hr{
	color: #fff;
	width:284px;
	position: relative;
	top: 24px;
	left: -294px;
}
/*内容部分*/
.content1{
	width: 996px;
	height: 72px;
	margin:0 102px 26px 102px;
    padding-top: 28px;
	border-bottom: 1px solid #d5d5d5;
}
.content1_left>span:nth-child(1){
	float: left;
	display: block;
    margin-top: 8px;
	width: 2px;
	height: 10px;
	background:#866961 ;
}
.content1_left>span:nth-child(2){
	float: left;
	margin-left: 8px;
}
.content1_left>span:nth-child(4){
	font-size: 12px;
	color: #999;
	clear: both;
}
.content1_right{
	font-size: 14px;
    padding-top: 24px;
}
.content1_right>.color{
	color:#dadada;
}
/*content2*/
.content2>img{
	width: 996px;
	height: 336px;
	margin:0 102px 26px 102px;
}
.content2>div{
	display: flex;
	justify-content: space-around;
	margin:0 102px 26px 102px;
}
.lianxi_box1{
	display: flex;
}
.lianxi_box1>img{
	width: 40px;
	height: 40px;
	margin-right: 15px;
}
.lianxi_box1 h3{
	font-size: 20px;
}
.lianxi_box1 p{
	font-size: 14px;
	color: #999;
}
.lianxi_box1 h5{
	font-size: 14px;
	margin: 8px 0;
}
/*ffooter*/
footer{
	width: 100%;
	height: 80px;
	background:#866961 ;
    margin-top: 20px;
}
.foot{
	display: flex;
	height: 100%;
	justify-content: space-around;
	align-items: center;
}
.foot>div{
	display: flex;
	justify-content: space-around;
	color: #fff;
}
.foot>div>img{
	width: 11px;
	height: 10px;
   margin:7px;
}
.foot>div>.kong{
    width: 2px;
    height: 18px;
    background: #fff;
    margin: 2px 0 0 10px;
}
.foot>div>span:nth-of-type(6){
	margin: 0 10px;
}
.foot>div>span:nth-of-type(4){
	margin: 0 10px;
}