*{margin: 0;padding: 0;box-sizing: border-box;}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: #333;
}
h1,h2,h3,h4,h5,h6{
	font-size: 16px;
	font-weight: normal;
}
.banxin{
	width: 1200px;
	margin: 0 auto;
}
.right{
	float: right;
}
.left{
	float: left;
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
}
img{
	vertical-align: middle;
}
body{
	color: #333;
}
