/*咖啡首页*/
header{
	height:80px;
	/*background: pink;*/
	display: flex;
	align-items: center;
	justify-content: space-around;
}
header ul li{
	float: left;
	width: 85px;
	height: 80px;
	line-height: 80px;
	text-align: center;
    margin: 0 10px;

}
header a{
	display: block;
	width: 85px;
	height: 80px;
	font-size: 18px;
}
header ul li a{
	border-bottom: 5px solid transparent;
}
header ul li a:hover{
	border-bottom: 5px solid #866961;
	color: #866961;
}
/*bgpic1*/
.bgpic1{
	background: url(images/咖啡长网页_02.png) no-repeat;
	width: 100%;
	height: 600px;
}
/*关注我们*/
.title1{
	height: 166px;
	text-align: center;
	vertical-align: middle;
}
.title1>figcaption{
	padding: 36px 0 10px 0;
	font-size:24px ;
	font-weight: 500px;
}
.title1>.about_us>hr{
	width: 80px;
	float: left;
    margin-top: 8px;
}
.title1>.about_us>img:nth-of-type(1){
    position: relative;
    top: -4px;
    left: -82px;
}
.title1>.about_us>img:nth-of-type(2){
    position: relative;
    top: -4px;
    left: -171px;
}
.title1>.about_us{
    margin: auto;
    width: 254px;
}
.title1>.about_us>p{
	font-size: 14px;
	float: left;
	margin:0 10px;
	color: #999;
}
.title1>img{
	width: 28px;
	height: 28px;
	float: left;
    margin: 0px 587px;
}






/*content1*/
.content1{
	display: flex;
	justify-content:space-around;
	margin-bottom: 96px;
}
.content1>.box1{
	border: 1px solid;
}
.content1>.box1>img{
	width: 415px;
	height: 100%;
	border: 1px solid #333;
	position: relative;
	top:-10px;
	left:10px;
}
.content1>.box{
	width: 600px;
	height: 100%;
}
.content1>.box>h2{
	font-size: 18px;
	padding: 10px 0 20px 0;
}
.content1>.box p:nth-of-type(1){
	width:40px ;
	height: 3px;
	background: #ccc;
	margin: 10px 0 20px 0;
}
.content1>.box p:nth-of-type(2){
	text-indent: 2em;
	text-align: justify;
	line-height: 30px;
}
.content1>.box p:nth-of-type(3){
	text-indent: 2em;
	text-align: justify;
	line-height: 30px;
}
/*bgpic2*/
.bgpic2{
	background: url(images/咖啡长网页_08.png) no-repeat;
	width: 100%;
	height: 120px;
}
/*产品介绍*/
.chanpinjiesao{
	width: 100%;
	height: 660px;
}
.title2{
	height: 166px;
	text-align: center;
	vertical-align: middle;
}
.title2>figcaption{
	padding: 36px 0 10px 0;
	font-size:24px ;
	font-weight: 500px;
}
.title2>.about_us>hr{
	width: 80px;
	float: left;
    margin-top: 8px;
}
.title2>.about_us>img:nth-of-type(1){
    position: relative;
    top: -4px;
    left: -87px;
}
.title2>.about_us>img:nth-of-type(2){
    position: relative;
    top: -4px;
    left: -169px;
}
.title2>.about_us{
    margin: auto;
    width: 254px;
}
.title2>.about_us>p{
	font-size: 14px;
	float: left;
	margin:0 10px;
	color: #999;
}
.title2>img{
	width: 28px;
	height: 28px;
	float: left;
    margin: 0px 587px;
}
/*content2*/
.content2{
	display: flex;
	justify-content: space-around;
}
.content2>div{
	width: 30%;
	height: 420px;
	text-align: center;
}
.content2>div>img{
	width: 100%;
	height:300px;
}
.content2>div>h3{
	font-size: 24px;
	margin: 23px 0 5px 0;
}
.content2>div>div{
	width: 40px;
	height: 1px;
	background: #000;
	margin: auto;
}
.content2>div>p{
	margin-top: 10px;
	color: #999;
}
.content2>div{
	position: relative;
	cursor: pointer;
}
.content2>div section{
	position:absolute;
	width: 100%;
	height:300px;
	top:0;
	left: 0;
	background: rgba(0,0,0,.5);
	display: none;
}
.content2>div:hover section{
	display: block;
}
.content2>div section>img{
	position: absolute;
	top:50%;
	margin-top: -31px;
	left:50%;
	margin-left: -32px;
}
/*公司团队*/
.tuandui{
	width: 100%;
	height: 780px;
	background: #f2f2f2;
}
.title3{
	height: 166px;
	text-align: center;
	vertical-align: middle;
}
.title3>figcaption{
	padding: 36px 0 10px 0;
	font-size:24px ;
	font-weight: 500px;
}
.title3>.about_us>hr{
	width: 80px;
	float: left;
    margin-top: 8px;
}
.title3>.about_us>img:nth-of-type(1){
    position: relative;
    top: -4px;
    left: -82px;
}
.title3>.about_us>img:nth-of-type(2){
    position: relative;
    top: -4px;
    left: -173px;
}
.title3>.about_us{
    margin: auto;
    width: 256px;
}
.title3>.about_us>p{
	font-size: 14px;
	float: left;
	margin:0 10px;
	color: #999;
}
.title3>img{
	width: 28px;
	height: 28px;
	float: left;
    margin: 0px 587px;
}
.tuandui>ul{
	display: flex;
	justify-content: space-around;
}
.tuandui>ul>li{
	width: 22%;
	height: 540px;
	text-align: center;
}
.tuandui>ul>li:hover{
	background: rgba(0,0,0,.5);
}
.tuandui>ul>li:hover a,.tuandui>ul>li:hover .pp,.tuandui>ul>li:hover .pp1{
	color: #fff;
}

.tuandui h3{
    height: 29px;
    font-size: 20px;
   padding: 13px 0 26px 83px;
}
.tuandui h3 span{
	float: left;
}
.tuandui>ul img{
	width: 100%;
	height: 420px;
}
.tuandui .dian{
	display: block;
	width: 3px;
	height: 3px;
	background: #333;
	border-radius: 50%;
    position: relative;
    top: 10px;
    margin: 0 3px 0 3px;
}
.tuandui hr{
	width: 30px;
	margin:10px auto;
}
.tuandui>ul>li .pp{
	font-size: 14px;
	color:#333 ;
}
.tuandui>ul>li .pp1{
	font-size: 14px;
	color:#333 ;
    margin: 5px 0 0 49px;
	width:166px ;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.tuandui>ul>li>div{
	width: 100%;
	height: 120px;
	border: 1px solid #333;
	border-top: 0;
}
/*联系我们*/
.lianxi{
	height: 545px;
}
.title4{
	height: 166px;
	text-align: center;
	vertical-align: middle;
}
.title4>figcaption{
	padding: 36px 0 10px 0;
	font-size:24px ;
	font-weight: 500px;
}
.title4>.about_us>hr{
	width: 80px;
	float: left;
    margin-top: 8px;
}
.title4>.about_us>img:nth-of-type(1){
    position: relative;
    top: -4px;
    left: -82px;
}
.title4>.about_us>img:nth-of-type(2){
    position: relative;
    top: -4px;
    left: -182px;
}
.title4>.about_us{
    margin: auto;
    width: 264px;
}
.title4>.about_us>p{
	font-size: 14px;
	float: left;
	margin:0 10px;
	color: #999;
}
.title4>img{
	width: 28px;
	height: 28px;
	float: left;
    margin: 0px 587px;
}
.lianxi>div{
	display: flex;
	justify-content: space-around;
}
.lianxi>div>img{
	width: 666px;
	height: 340px;
}
.lianxi>div>div{
	width: 410px;
}
.lianxi_box1{
	display: flex;
}
.lianxi_box1>img{
	width: 40px;
	height: 40px;
	margin-right: 15px;
}
.lianxi_box1 h3{
	font-size: 20px;
}
.lianxi_box1 p{
	font-size: 14px;
	color: #999;
}
.lianxi_box1 h5{
	font-size: 14px;
	margin: 8px 0;
}
/*ffooter*/
footer{
	width: 100%;
	height: 80px;
	background:#866961 ;
}
.foot{
	display: flex;
	height: 100%;
	justify-content: space-around;
	align-items: center;
}
.foot>div{
	display: flex;
	justify-content: space-around;
	color: #fff;
}
.foot>div>img{
	width: 11px;
	height: 10px;
   margin:7px;
}
.foot>div>.kong{
    width: 2px;
    height: 18px;
    background: #fff;
    margin: 2px 0 0 10px;
}
.foot>div>span:nth-of-type(6){
	margin: 0 10px;
}
.foot>div>span:nth-of-type(4){
	margin: 0 10px;
}